[submodule "apex/contrib/csrc/multihead_attn/cutlass"]
	path = apex/contrib/csrc/multihead_attn/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "apex/contrib/csrc/cudnn-frontend"]
	path = apex/contrib/csrc/cudnn-frontend
	url = https://github.com/NVIDIA/cudnn-frontend.git
